<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <p class="text-center">
    <%= t 'sensor.no_data_between', from: l(@from), to: l(@to) %><br />
    <%= t 'sensor.choose_different_time_range' %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= render 'sensors/date_filter_form' %>
  </div>
</div>

