.clearfix.panel
  .row
    .medium-9.columns
      %h1.text-center.show-for-small-only Edit Sensor
      %h1.show-for-medium-up Edit Sensor
    .medium-3.columns
      = link_to ' Back', sensor_records_path(@sensor), class: 'button fi-arrow-left right show-for-medium-up'
      = link_to ' Back', sensor_records_path(@sensor), class: 'button fi-arrow-left show-for-small-only'
= render 'layouts/flash'
.row
  .medium-4.columns.medium-offset-4.centered.panel
    = render 'form'
