.clearfix.panel
  .row
    .medium-9.columns
      %h1.text-center.show-for-small-only Edit Sensor
      %h1.show-for-medium-up Edit Sensor
    .medium-3.columns
      = render 'layouts/back_buttons'
= render 'layouts/flash'
.row
  .medium-4.columns.medium-offset-4.centered.panel
    = render 'form'
