<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
  <% @sensors.each_slice(2).each do |sensor_pair| %>
    <% sensor_pair.each do |sensor| %>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><%= link_to sensor.title, sensor %></div>
        <div class="panel-body">
          <div class="chart-placeholder"></div>
          <small>
            <%= link_to sensor do %>
              <span>more</span>
              <i class="glyphicon glyphicon-chevron-right"></i>
            <% end %>
          </small>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <% if @sensors.empty? %>
    <h2 class="text-center">No sensors added yet, <%= link_to 'get started!', new_sensor_url %></h2>
  <% end %>
</div>

