<div class="panel-body">
  <div class="row">
    <div class="col-sm-10">
      <h2>
        <span><%= @sensor.title %></span>
        <small><%= @sensor.description %></small>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="chart col-sm-12"></div>
  </div>
</div>

