.clearfix.panel
  .row
    .medium-9.columns
      %h1.text-center.show-for-small-only Edit Sensor Unit
      %h1.show-for-medium-up Edit Sensor Unit
= render 'layouts/flash'
.row
  .medium-9.columns
    = render 'form'
    = link_to 'Back', units_path
