.clearfix.panel
  .row
    .medium-9.columns
      %h1.text-center.show-for-small-only New Sensor Unit
      %h1.show-for-medium-up New Sensor Unit
    .medium-3.columns
      = render 'layouts/back_buttons'
= render 'layouts/flash'
.row
  .medium-9.columns
    = render 'form'
    = link_to 'Back', units_path
