/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-icons
 *= require_tree .
 */
@import "foundation_and_overrides";

html, body { height: 100%; }

.main-panel {
	margin-top: 20px !important;
}

.or-divide {
	margin-top: 15px;
}

.full-width {
	width: 100%;
}

fieldset legend {
	background: none !important;
}

.low-button {
	padding-top: 0.45rem !important;
	padding-bottom: 0.35rem !important;
	margin: 0 !important;
}

section.left-small {
	border-right: none !important;
	box-shadow: none !important;
}

.sidebar {
	background: none repeat scroll 0 0 #FAFAFA;
	padding: 32px 20px;
}

.red-link {
	color: #BB240D !important;
}

.sidebar .side-nav li.active > a:first-child {
	background: none repeat scroll 0 0 rgba(0, 64, 84, 0.05);
	color: #008FBA;
	font-weight: bold;
	margin: 0 -20px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.sidebar .side-nav li:hover > a:first-child {
	background: none repeat scroll 0 0 rgba(0, 64, 84, 0.03);
	color: #006887;
	margin: 0 -20px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

ul, ol, dl {
	line-height: 1.6 !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.side-nav li a {
	padding: 0.33333rem 0;
}

.divider {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

li.nav-item {
	margin-bottom: 0 !important;
}
