// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart-preview .x.axis line {
  stroke: lightgrey;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.chart-preview .x.axis path {
  display: none;
}

.chart-preview .y.axis path {
  display: none;
}

.chart-preview .y.axis line {
  stroke: lightgrey;
}

#from_box select,
#to_box select {
  width: auto !important;
}

.margin-left-20 {
  margin-left: 20px;
}

#date_submit {
  margin-top: 23px;
}
