- if notice || alert
  .row.margin-top-20
    - if notice
      .alert-box.info.radius{data:{alert:''}}
        = notice
        = link_to '#', class: 'close' do
          &times;
    - if alert
      .alert-box.warning.radius{data:{alert:''}}
        = alert
        = link_to '#', class: 'close' do
          &times;
